---
layout: home
---

<!-- Slider -->
<section class="slider">
	<!-- Swiper -->
	<div class="swiper-container">
	    <div class="swiper-wrapper">
				{% for slider in site.data.slider %}
					<div class="swiper-slide">
						<div class="swiper-inner" data-animate="{{ slider.animation }}">
							<div class="swiper-title">{{ slider.title }}</div>
							<div class="swiper-caption">{{ slider.caption }}</div>
						</div>
						<img class="" src="{{ slider.src }}">
					</div>
				{% endfor %}
	    </div>
	    <!-- Add Pagination -->
	    <div class="swiper-pagination"></div>
	</div>
</section>

<!-- About -->
<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title">Tentang Kami</div>

				<div class="about__content">

					{% for info in site.data.information %}
						{% if info.info_title == "about_us" %}

							{% if site.author %}
					          <strong>{{ site.title | escape }}</strong>
					        {% else %}					          
					          <strong>{{ site.title | escape }}</strong>
					        {% endif %}

					        <span> {{ info.info_dec }} </span>

						{% endif %}  
					{% endfor %}

				</div>
			</div>
		</div>
	</div>
</section>

<!-- Program -->
<section class="program">
	<div class="container">
		<div class="title">Program Kerja</div>

		<div class="row">
			{% for pk in site.data.program_kerja %}
				<div class="program__wrapper">
					<div class="program__item">
						<div class="program__inner">
							<div class="program__icon"><i class="{{ pk.icon }}"></i></div>
							<div class="program__desc">{{ pk.program }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<!-- Member -->
<section class="container member">
	<div class="title">Anggota</div>	

	<div class="row">
		{% for member in site.data.member_organizer %}
			<div class="member__item">
				<div class="member__name"><b>{{ member.name }}</b></div>
				<div class="member__avatar__wrapper">
					<div class="member__avatar">
						<img src="{{ member.image }}" alt="{{ member.name }}">
					</div>
				</div>
				<div class="member__jobs">{{ member.jobs }}</div>
			</div>
		{% endfor %}
	</div>
	<div class="member__see-all">
		<a href="/daftar-member.html">Lihat Selengkapnya</a>
	</div>
</section>

<!-- Blogs -->
<section class="container blogs">
	<div class="title">Artikel Terbaru</div>
	<div class="row">
		{% assign sorted = (paginator.posts | sort: 'date' | reverse) %}
	  	{% for post in sorted %}
			<div class="article__wrapper">
				<div class="article">
					<div class="article__content">
						<div class="article__title">
							<a class="post__link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
						</div>
						<div class="article__meta">
							<div class="meta__item">
								<i class="ion-calendar"></i> {{ post.date | date: "%b %-d, %Y" }}
							</div>

							{% if post.author %}
								<div class="meta__item">
									<i class="ion-person"></i> {{ post.author }}
								</div>
							{% endif %}

						</div>
						<div class="article__description">
							{{ post.excerpt }}
						</div>
					</div>
					<div class="article__button">
						<a href="{{site.baseurl}}{{ post.url }}">Read More</a>
					</div>
				</div>
			</div>
		{% endfor %}		
	</div>

	{% include paginator.html %}
	
</section>


