<footer class="site__footer footer" role="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="footer__box">
          <div class="footer__title">
            Sosial Media
          </div>
          <div class="footer__content">

            {% for sosial in site.data.sosial_media %}
              <a href="{{ sosial.href }}" 
                 class="footer__social {{ sosial.custom_class }}" 
                 target="_blank">
                <i class="{{ sosial.icon }}"></i>
              </a>
            {% endfor %}
            
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
          <div class="footer__box">
            <div class="footer__title">
              Komunitas Partner
            </div>
            <div class="footer__comunity">
              <div class="row">
              {% for coumnity in site.data.comunity %}
                <div class="col-md-4">
                  <div class="imageCenter">
                    <a href="{{ coumnity.href }}">
                      <img src="{{ coumnity.src }}" alt="{{ coumnity.name }}">
                    </a>
                  </div>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-3">
          <div class="footer__box">
            <div class="footer__title">
              Kategori
            </div>
            <div class="footer__content">
              <ul class="footer__info">
                
                {% for categoryStatic in site.data.category %}   
                    <li>                                    
                      <a href="{{ categoryStatic.href }}">
                        <i class="{{ categoryStatic.icon }}"></i> {{ categoryStatic.category }}
                      </a>
                    </li> 
                {% endfor %}

              </ul>
              
            </div>
          </div>
      </div>
      <!--<div class="col-md-12">
        <div class="footer__box">
          <div class="footer__title--sponsor text-center">
            Sponsorship
          </div>
          <div class="footer__sponsor">
            <div class="row">
              {% for sponsor in site.data.sponsorship %}
              <div class="col-md-3">
                <div class="imageCenter">
                  <a href="{{ sponsor.href }}">
                    <img src="{{ sponsor.src }}" alt="{{ sponsor.name }}">
                  </a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>-->
      <div class="col-md-12 text-center">
        Copyright &copy; {{ site.copyright_year }}
        {% if site.author %}
          {{ site.author | escape }}
        {% else %}
          {{ site.title | escape }}
        {% endif %}
      </div>
    </div>
  </div>
</footer>
