<footer class="site__footer footer" role="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="footer__box">
          <div class="footer__box__title_line">
            Keep Following Us
          </div>
          <div class="footer__box__content">
            <a href="{{ site.facebook_url }}" class="footer__social is--fb" target="_blank">
              <i class="ion-social-facebook"></i>
            </a>
            <a href="https://www.twitter.com/php_indonesia" class="footer__social is--tw" target="_blank">
              <i class="ion-social-twitter"></i>
            </a>
            <a href="https://github.com/{{ site.github_username }}" class="footer__social is--gh" target="_blank">
              <i class="ion-social-github"></i>
            </a>
            <a href="{{ "/feed.xml" | relative_url }}" class="footer__social is--rss" target="_blank">
              <i class="ion-social-rss"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
          <div class="footer__box">
            <div class="footer__box__title_line">
              PHP Comunity
            </div>
            <div class="footer__box__content_comunity">
              <div class="row">
              {% for coumnity in site.data.comunity %}
                <div class="col-md-4">
                  <div class="imageCenter">
                    <a href="{{ coumnity.href }}">
                      <img src="{{ coumnity.src }}" alt="{{ coumnity.name }}">
                    </a>
                  </div>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-3">
          <div class="footer__box">
            <div class="footer__box__title_line">
              Highlight !
            </div>
            <div class="footer__box__content">
            </div>
          </div>
      </div>
      <div class="col-md-12">
        <div class="footer__box">
          <div class="footer__box__title_sponsor text-center">
            Sponsorship
          </div>
          <div class="footer__box__content_sponsor">
            <div class="row">
              {% for sponsor in site.data.sponsorship %}
              <div class="col-md-3">
                <div class="imageCenter">
                  <a href="{{ sponsor.href }}">
                    <img src="{{ sponsor.src }}" alt="{{ sponsor.name }}">
                  </a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        Copyright &copy; {{ site.copyright_year }}
        {% if site.author %}
          {{ site.author | escape }}
        {% else %}
          {{ site.title | escape }}
        {% endif %}
      </div>
    </div>
  </div>
</footer>
