<footer class="site__footer footer" role="footer">

  <div class="wrapper">

    <h2 class="footer__heading">{{ site.title | escape }}</h2>

    <div class="footer__row">
      <a href="{{ site.facebook_url }}" class="footer__social is--fb">
        <i class="ion-social-facebook"></i>
      </a>
      <a href="https://www.twitter.com/php_indonesia" class="footer__social is--tw">
        <i class="ion-social-twitter"></i>
      </a>
      <a href="https://github.com/{{ site.github_username }}" class="footer__social is--gh">
        <i class="ion-social-github"></i>
      </a>
      <a href="{{ "/feed.xml" | relative_url }}" class="footer__social is--rss">
        <i class="ion-social-rss"></i>
      </a>
    </div>

    <div class="footer__row">
      Copyright &copy; {{ site.copyright_year }} 
      {% if site.author %}
        {{ site.author | escape }}
      {% else %}
        {{ site.title | escape }}
      {% endif %}
    </div>

  </div>

</footer>
