<header class="site__header header" role="banner">

  <div class="header__wrapper">

    <div class="header__brand">
        <a href="{{ "/" | relative_url}}">
            <img src="{{ site.logo_url }}" 
            alt="{{ site.title | escape }}" 
            title="{{ site.title | escape }}"/>
        </a>
        <div class="header__title">
        </div>   
    </div>


    <nav class="nav__desktop">
      <ul class="nav__menu menu">
        {% for nav in site.data.menu %}
          {% if nav.sub != null %}
            <li class="menu__item">
              <a class="menu__link" href="/{{ nav.href }}">{{ nav.title }}</a>
              <ul class="menu--child">
                <div class="menu__wrapper">
                  {% for sub in nav.sub %}
                    <li>
                      <a class="menu__link--child" href="/{{ sub.href }}">
                      {{ sub.title }}
                      </a>
                    </li>
                  {% endfor %}                  
                </div>
              </ul>
            </li>
          {% else %}
            <li class="menu__item">
              <a class="menu__link" href="/{{ nav.href }}">{{ nav.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <div class="nav__mobile">
      <div class="nav__mobile-btn" id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>    

  </div>

</header>

<nav class="offcanvas">
  <div class="offcanvas__overlay"></div>

  <ul class="offcanvas__menu">
    {% for nav in site.data.menu %}
        {% if nav.sub != null %}
          <li>
            <i class="ion-chevron-right"></i>
            <a href="/{{ nav.href }}">{{ nav.title }}</a>
            <ul>
              <div>
                {% for sub in nav.sub %}
                  <li>
                    <i class="ion-chevron-right"></i>
                    <a href="/{{ sub.href }}">
                    {{ sub.title }}
                    </a>
                  </li>
                {% endfor %}                  
              </div>
            </ul>
          </li>
        {% else %}
          <li>
            <i class="ion-chevron-right"></i>
            <a href="/{{ nav.href }}">{{ nav.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
  </ul>    
</nav>