<!-- Pagination links created by Eko Junaidi Salam -->
{% if paginator.total_pages > 1 %}
<div class="row center">
	<ul class="pager pager--radius">
		{% if paginator.total_pages > 5 %}
			{% assign var_low = 1 %}
			{% assign var_mid = 3 %}
			{% assign var_high = var_mid | plus: 2 %}
		{% else %}
			{% assign var_low = 1 %}
			{% assign var_mid = 2 %}
			{% assign var_high = paginator.total_pages %}
		{% endif %}
		<li>			
			<a class="pager__page" href="{{site.baseurl}}/">Begin</a>
		</li>
		{% if paginator.previous_page %}
			<li>			
				<a class="pager__page" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
			</li>
		{% else %}
			<li>
				<a class="pager__page" href="#">&laquo; Prev</a>				
			</li>
		{% endif %}

		{% if paginator.page <= var_mid %}
			{% for page in (var_low..var_high) %}
				{% if page == paginator.page %}
					<li>
						<a class="pager__page pager__page--active" href="#">{{ page }}</a>						
					</li>
				{% elsif page == 1 %}
					<li>
						<a class="pager__page" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>						
					</li>
				{% else %}
					<li>
						<a class="pager__page" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>						
					</li>
				{% endif %}
			{% endfor %}
		{% else %}
			{% assign var_mid = paginator.page %}
			{% assign var_low = var_mid | minus: 2 %}
			{% assign var_high = var_mid | plus: 2 %}
			{% if var_high > paginator.total_pages %}
				{% assign var_high = paginator.total_pages %}
			{% elsif var_low < 1%}
				{% assign var_low = 1 %}
			{% endif %}
			
			{% for page in (var_low..var_high) %}
				{% if page == paginator.page %}
					{% assign var_mid = paginator.page %}
					{% assign var_low = var_mid | minus: 2 %}
					{% assign var_high = var_mid | plus: 2 %}
					
					{% if var_high > paginator.total_pages %}
						{% assign var_high = paginator.total_pages %}
					{% elsif var_low < 1%}
						{% assign var_low = 1 %}
					{% endif %}
					<li>
						<a class="pager__page pager__page--active" href="#">{{ page }}</a>						
					</li>
				{% elsif page == 1 %}
					<li>
						<a class="pager__page" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>						
					</li>
				{% else %}
					<li>
						<a class="pager__page" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
					</li>
				{% endif %}
			{% endfor %}
		{% endif %}

		{% if paginator.next_page %}
			<li>
				<a class="pager__page" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>			
			</li>
		{% else %}
			<li>
				<a class="pager__page" href="#">Next &raquo;</a>
			</li>
		{% endif %}
		<li>
			<a class="pager__page" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}">Last</a>						
		</li>
	</ul>
</div>
{% endif %}
