// Define defaults for each variable.

$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fafafa !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          640px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "minima/mixins/appearance",
  "minima/mixins/background",
  "minima/mixins/border-radius",
  "minima/mixins/boxes",
  "minima/mixins/clearfix",
  "minima/mixins/image",
  "minima/mixins/placeholders",
  "minima/mixins/transitions",

  "minima/normalize",
  "minima/base",

  "minima/site/header",
  "minima/site/page",
  "minima/site/post",
  "minima/site/footer",

  "minima/syntax-highlighting"
;
