.center {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: $pagination-background-color;
    color: $pagination-color;
    border: 1px solid $pagination-border-color;
}

.pagination a:hover:not(.active) {background-color: $pagination-hover-color;}