<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
            type="text/javascript"></script>
    <script src="{{ "/assets/js/offcanvas.js" | relative_url }}" 
            type="text/javascript" defer></script>
  </body>

</html>
