
/**
 * Site footer
 */

.footer
{
    font-size: 12px;
    padding: $spacing-unit 0;
    border-top: 1px solid $grey-color-light;
    background: #fff;

    &__box
    {
        margin-bottom: 30px;
        padding: 10px 20px;
        color: $text-color;
    }

    &__title
    {
        padding-bottom: 10px;
        border-bottom: solid #777;        
        font-size: 20px;
        font-weight: bold;

        &--sponsor
        {     
            font-size: 20px;
            font-weight: bold;
            padding-bottom: 10px;
        }

    }

    &__content
    {
        padding-top: 10px;
    }

    &__comunity
    {
        margin-top: 10px;
        
        .imageCenter
        {
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: center;

            img
            {
                max-height: 60px;
            }

        }

    }
    &__sponsor
    {
        padding-top: 10px;

        .imageCenter
        {
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: center;

            img
            {
                max-height: 40px;
            }
        }
    }

    &__info
    {
        list-style: none;
        padding: .5em 0;
        margin: 0;

        li a{
            text-transform: capitalize;
            font-size: 16px;
            color: $text-color;

            &:hover
            {
                font-weight: bold;
            }
        }
    }

    &__social
    {
        font-size: 3em;
        padding: 5px 10px 5px 0;

        &:hover
        {
            text-decoration: none;
        }
    }
}

$fb: #3b5998 !default;
$tw: #55acee !default;
$gh: #000 !default;
$rss: #f60 !default;

.is--fb
{
    color: $fb;
    &:hover,
    &:visited,
    a:active
    {
        color: lighten($fb, 20%);
    }
}

.is--tw
{
    color: $tw;
    &:hover,
    &:focus,
    &:active
    {
        color: lighten($tw, 20%);
    }
}

.is--gh
{
    color: $gh;
    &:hover,
    &:focus,
    &:active
    {
        color: lighten($gh, 20%);
    }
}

.is--rss
{
    color: $rss;
    &:hover,
    &:focus,
    &:active
    {
        color: lighten($rss, 20%);
    }
}
