
/**
 * Site footer
 */

.footer
{
    padding: $spacing-unit 0;
    border-top: 1px solid $grey-color-light;
    background: #fff;
    font-size: 12px;
    &__box
    {
        padding: 10px 20px;
        margin-bottom: 30px;
        color: #000;
        &__title_line
        {
          border-bottom: solid #777;
          padding-bottom: 10px;
          font-size: 14px;
        }
        &__title_sponsor
        {
          padding-bottom: 10px;
          font-size: 14px;
        }
        &__content
        {
          padding-top: 10px;
        }
        &__content_comunity
        {
          margin-top: 10px;
          .imageCenter{
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            img
            {
              max-height: 60px;
            }
          }
        }
        &__content_sponsor
        {
          padding-top: 10px;
          .imageCenter{
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            img
            {
              max-height: 40px;
            }
          }
        }
    }
    &__social
    {
        font-size: 2em;
        padding: 5px 10px 5px 0;

        &:hover
        {
            text-decoration: none;
        }
    }
}


.is--fb
{
    color: #3b5998;

    &:hover,
    &:visited,
    a:active
    {
        color: #3b5998;
    }
}

.is--tw
{
    color: #55acee;

    &:hover,
    &:focus,
    &:active
    {
        color: #55acee;
    }
}

.is--gh
{
    color: #000;

    &:hover,
    &:focus,
    &:active
    {
        color: #000;
    }
}

.is--rss
{
    color: #f60;

    &:hover,
    &:focus,
    &:active
    {
        color: #f60;
    }
}
