
/**
 * Site footer
 */

 .footer{

    background: #fff;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    &__heading{
      font-size: 18px;
      margin-bottom: $spacing-unit/2;
    }

    &__row{      
      font-size: 15px;
      color: $grey-color;
      @extend %clearfix;
    }

    &__social{

      font-size: 2em;
      padding: 5px 10px 5px 0; 

      &:hover{
        text-decoration: none;
      }
    }

    
}


.is--fb{
  color: #3b5998;

  &:hover, &:visited, a:active{
    color: #3b5998;    
  }
}

.is--tw{
  color: #55acee;

  &:hover, &:focus, &:active{
    color: #55acee;    
  }
}

.is--gh{
  color : #000;

  &:hover, &:focus, &:active{
    color: #000;    
  }
}

.is--rss{
  color : #ff6600;

  &:hover, &:focus, &:active{
    color: #ff6600;    
  }
}