/**
 * Site header
 */
.header
{
    @include transition(all 0.2s ease-in-out);
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 5em;
    background: transparentize(#fff, 0.8);

    &__wrapper
    {
        width: 90%;
        height: 5em;
        margin: 0 auto;
        @include flex();
    }
    &__brand
    {
        @include flex();

        img
        {
            height: 3em;
            filter: invert(100%);
        }
    }
    &__title
    {
        font-size: 1.8rem;
        font-weight: 500;
        margin-left: .5em;
        @include media-query($on-palm)
        {
            display: none;
        }
    }
}

.header.--default {
    background: #fff;
    @include box-shadow(0 1px 10px 2px rgba(0,0,0,0.2));

    .header__brand
    {
        img {
            filter: invert(0%);
        }
    }
    .menu__link
    {
        color: transparentize($brand-color, 0.3);

        &:hover
        {
            color: transparentize($brand-color, 0.1);
        }
    }
}