// Title
.title
{
    font-size: 2em;
    font-weight: bold;
    line-height: 3;
}

// About
.about
{
    position: relative;
    padding: 6em 0;
    text-align: center;
    &:before
    {
        position: absolute;
        z-index: 5;
        top: -40px;
        left: 0;
        display: block;
        width: 100%;
        height: 60px;
        content: ' ';
        background-image: url(../assets/images/ornament/bg-bottom.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

// Program
.program
{
    padding: 4em 0;
    text-align: center;
    color: #fff;
    background-color: $carolina;
    @include box-shadow( inset 0px 8px 16px -6px darken($carolina, 15%), inset 0px -8px 16px -6px darken($carolina, 15%));
    
    &__wrapper{
        width: 20%;
        display: inline-block;
        margin: 0 5px;

        @include media-query($on-palm)
        {
            width: 80%;
        }
    }

    &__item
    {
        font-size: 16px;
        min-height: 200px;
        margin-bottom: 30px;
        padding: 20px;
        cursor: pointer;
        border: 1px solid #fff;
        @include flex();
        justify-content: center;        

        @include media-query-min($on-laptop)
        {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }

        &:hover
        {
            color: $carolina;
            background-color: #fff;
            @include media-query-min($on-laptop)
            {
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
        }
    }
    &__inner
    {
        display: block;
        text-align: center;        
    }
    &__icon
    {
        font-size: 3em;
    }
}

// Member
.member
{
    padding: 4em 0 0 0;
    text-align: center;
    &__item
    {        
        width: 20%;
        min-width: 200px;
        display: inline-block;
        vertical-align: top;    
        margin: 0 5px 10px 5px;
        height: 380px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        @include media-query($on-palm)
        {
            width: 80%;
        }

        &:hover
        {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

    }
    &__avatar
    {
        &__wrapper{
            padding: 0 20px;
        }

        height: 150px;
        width: 150px;
        margin: 0 auto 20px auto;
        overflow: hidden;
        @include border-radius(50%);
        img
        {
            width: 100%;
            height: auto;
        }
    }
    &__name
    {
        font-size: 18px;
        padding: 10px 0 5px 0;
        margin-bottom: 20px;
        background-color: $carolina;
        color: #fff;
    }
    &__jobs
    {
        color: $grey-color;
    }
    &__see-all{
        text-align: center;
        margin-top: 20px;
        position: relative;
        display: block;
        padding: 8px;
        max-width: 200px;
        margin: 20px auto;
        background-color: $carolina;
        a{
            color: #fff;
        }
    }
    &__social{
        ul{
            margin: 0;
            padding: 0;
            padding-top: 10px;
            list-style: none;

            li{
                display: inline-block;
                a{
                    display: block;
                    width: 24px;
                    margin-right: 2px;
                    text-align: center;
                    border: 1px solid;
                    border-radius: 100%;
                    color: #000;
                    border-color: #000;

                    &:hover{
                        background-color: #000;
                        color: #fff;
                        border-color: #000;                        
                    }
                }
            }
        }
    }
}

// Blogs
.blogs
{
    padding: 3em 0;
    text-align: center;
    .article
    {
        margin-bottom: 10px;
        padding: 20px 10px;
                        
        display: -webkit-flex; /* Safari */
        -webkit-flex-direction: column; /* Safari 6.1+ */
        
        justify-content: space-between;
        align-items: center;

        display: flex;
        flex-direction: column;

        &__content{
            height: 420px;
            align-self: flex-start;
        }

        &__wrapper{
            width: 20%;
            display: inline-block;
            vertical-align: top;
            margin: 5px;
            height: 500px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            
    
            @include media-query($on-palm)
            {
                width: 80%;
            }
    
            &:hover
            {    
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
        }

        &__meta
        {
            display: flex;
            margin: 10px 0;
            justify-content: space-around;
        }
        &__title
        {
            font-size: 22px;
        }
        &__description
        {
            text-align: justify;
            color: $grey-color;
        }
        &__button
        {            
            align-self: flex-end;
            width: 100%;

            a{
                position: relative;
                display: block;
                margin-top: 10px;
                padding: 8px;
                color: #fff;
                background-color: $carolina;

                &:hover
                {
                    background-color: darken($carolina, 10%);
                    font-weight: bold;
                }

            }
        }
        &__item
        {
            font-size: 14px;
            color: $grey-color;
            a
            {
                color: $grey-color;
            }
        }
    }
}
