
.nav
{
    &__desktop
    {
        @include media-query($on-palm)
        {
            display: none;
        }
    }
    &__mobile
    {
        display: none;

        @include media-query($on-palm)
        {
            display: block;
        }

        &-btn
        {
            position: relative;
            width: 40px;
            height: 20px;
            margin: .7em;
            cursor: pointer;

            @include rotate(0deg);
            @include transition(.5s ease-in-out);

            span
            {
                position: absolute;
                left: 0;
                display: block;
                width: 100%;
                height: 5px;
                opacity: 1;
                background: $text-color;

                @include rotate(0deg);
                @include transition(.25s ease-in-out);

                &:nth-child(1)
                {
                    top: 0;
                }

                &:nth-child(2),
                &:nth-child(3)
                {
                    top: 10px;
                }

                &:nth-child(4)
                {
                    top: 20px;
                }
            }

            &--close
            {
                span
                {
                    &:nth-child(1),
                    &:nth-child(4)
                    {
                        top: 10px;
                        left: 50%;
                        width: 0;
                    }

                    &:nth-child(2)
                    {
                        @include rotate(45deg);
                    }

                    &:nth-child(3)
                    {
                        @include rotate(-45deg);
                    }
                }
            }
        }
    }
}

.menu
{
    margin: 0;
    padding: 0;

    list-style: none;

    &__item
    {
        display: inline-block;

        &:hover > ul > div
        {
            @include transform(translate(0,0));
        }
    }

    &__wrapper
    {
        // border: 1px solid $grey-color-light;
        background-color: $carolina;
    }

    &--child
    {
        position: absolute;
        top: 80px;
        overflow: hidden;
        width: 160px;
        margin-left: -10px;
        padding: 0;
        list-style: none;
        text-align: left;

        div
        {
            position: relative;

            @include transform(translate(0,-100%));
            @include transition(all .5s .1s);
        }

        li
        {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
    &__link
    {
        position: relative;
        display: block;
        padding: 1.3em;
        text-decoration: none;
        color: transparentize(#fff, 0.2);
        cursor: pointer;
        // border-top: 2px solid #fff;

        i {
            font-size: 12px;
            margin-left: 5px;
        }

        &:hover
        {
            text-decoration: none;
            color: transparentize(#fff, 0.1);
            // border-top: 2px solid $brand-color;
        }

        &--child
        {
            position: relative;
            display: block;
            padding: .5em 1.3em;
            text-decoration: none;
            cursor: pointer;
            color: #fff;

            &:hover
            {
                color: #fff;
                text-decoration: none;
                background-color: darken($carolina, 3%);
            }
        }
    }
}
