
/**
 * Page content
 */
.page-content {
  padding: 5.5em 0 2em;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}


