
/**
 * Posts
 */

.post
{ 
    width: 80%;
    margin: 2em auto 0;
    @include media-query($on-palm)
    {
        width: 100%;
    }


    &--card
    {
        margin-right: 1em;
        // padding: 20px;
        transition: .3s;
        border: 1px solid rgba(0,0,0,.09);
        background: #fff;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
        @include border-radius(.25em);
    
        height: 600px;
        overflow: auto;
        display: inline-block;
        width: 100%;
        vertical-align: top;

        @include media-query($on-palm)
        {
            width: 100%;
            margin-bottom: 20px;
        }

        &:hover
        {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
        }
    }

    &__meta
    {
        font-size: $small-font-size;
        color: $grey-color;
    }

    &__link
    {
        font-size: 24px;
        display: block;
    }
}


.post-header
{
    margin-bottom: $spacing-unit;
}

.post-title
{
    font-size: 42px;
    line-height: 1;
    letter-spacing: -1px;
    @include media-query-min($on-laptop)
    {
        font-size: 36px;
    }
}

.post-content
{
    margin-bottom: $spacing-unit;
    h2
    {
        font-size: 32px;

        @include media-query-min($on-laptop)
        {
            font-size: 28px;
        }
    }
    h3
    {
        font-size: 26px;

        @include media-query-min($on-laptop)
        {
            font-size: 22px;
        }
    }
    h4
    {
        font-size: 20px;

        @include media-query-min($on-laptop)
        {
            font-size: 18px;
        }
    }
}

.post__more
{
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    outline: none;
    background: $brand-color;
    @include appearance(none);

    &:hover,
    &:focus,
    &:active
    {
        text-decoration: none;
        color: #fff;
        background: lighten($brand-color,10%);
    }
}
