
/**
 * Posts
 */

 .post{

    &--card{
        background: #fff;
        border: 1px solid rgba(0,0,0,.09);
        margin-bottom: 20px;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;

        @include border-radius(.25em);

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    }

    &__meta {
      font-size: $small-font-size;
      color: $grey-color;
    }

    &__link {
      display: block;
      font-size: 24px;
    }

    &__profile{
        @include border-radius(50%);
        
        height: 36px;
        width: 36px;
    }
 }


.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.post__more{
    display: inline-block;
    padding: 5px 20px;
    outline: none;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    @include appearance(none);

    background: $brand-color;
    color: #fff;

    &:hover, &:focus, &:active
    {
        background: lighten($brand-color,10%);
        text-decoration: none;
        color: #fff;
    }
}