.swiper-container
{
    width: 100%;
    height: 600px;

    @include media-query($on-palm) {
        height: auto;
    }

    .swiper-slide
    {
        text-align: center;
        font-size: 18px;
        background-color: $gunmetal;
        position: relative;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        .swiper-inner {
            position: absolute;
            width: 75%;
            color: #fff;
            z-index: 10;
            display: block;
            text-align: left;

            @include media-query($on-palm) {
                width: 90%;
            }

            .swiper-title {
                width: 75%;
                padding: 10px 20px;
                background-color: transparentize($carolina, 0.4);
                margin-bottom: 10px;

                @include media-query($on-palm) {
                    width: 90%;
                    text-align: center;
                }
            }
            .swiper-caption {
                padding: 20px;
                background-color: transparentize(#fff, 0.8);
                
                @include media-query($on-palm) {
                    display: none;
                }
            }
        }
        img {
            width: 100%;
            height: auto;
            opacity: 0.5;
        }
    }
    .swiper-pagination {
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;

            &-active {
                background-color: #fff;
            }
        }
    }
}